/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff4d4d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c40808;
}


#message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    display: none; /*initially hide the message element */
    text-align: center;
}
